<html>
  <head>
    <title>Meander Maker</title>
    <!--both brython.js and brython_stdlib.js files live in the static/ dir-->
    <script type="text/javascript" src="brython.js"></script>
    <script type="text/javascript" src="brython_stdlib.js"></script>
  </head>
  <!--adding custom style tag called yellow-->
  <style>
      .meander_map {
        width: 100%;
        height: 100%;
      }
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
      }
      .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
      }
      .button2:hover {
        background-color: #008CBA;
        color: white;
      }
    div.yellow {
      background-color: yellow;
    }
  </style>
  <body id="page-top" onload="brython(1)">
    <div class="row">
        <div class="columns small-4">
          <h1>Meander Maker</h1><br />
          <h3>User Input</h3>
            <script type="text/python3">
              from browser import document, ajax
              import json
              import warnings
              def show_results(response):
                  if response.status==200:
                      data = json.loads(response.text)
                      places = [f"{place['name']} ({place['rating']})"
                                for place in data['best_cluster']]
                      document["places"].html = "<br />".join(places)
                      document["gmap"].html = data['iframe']
                  else:
                      warnings.warn(response.text)
              def get_output(ev):
                  req = ajax.ajax()
                  req.bind("complete", show_results)
                  req.open("POST", "/output", True)
                  req.set_header("content-type","application/json")
                  data = json.dumps({"loc": document["user_input_loc"].value,
                                    "topic": document["user_input_topic"].value,
                                    "mode": document["user_input_mode"].value,
                                    "patience": document["patience"].value,
                                    "p_size": document["p_size"].value,
                                    "p_rating": document["p_rating"].value,
                                    "p_min_dist": document["p_min_dist"].value,
                                    "p_internal_dist": document["p_internal_dist"].value,
                                    })
                  req.send(data)
              document["click_button"].bind("click", get_output)
            </script>
    <label for="user_input_loc">Starting Location (specific is better than general)</label>
      <textarea id="user_input_loc">Hôtel Ampère Paris</textarea>
    <br />
      <label for="user_input_topic">Topic (Anything Google Maps can return results for)</label>
      <textarea id="user_input_topic">wine tasting</textarea>
    <br />
      <label for="user_input_mode">Mode of Transport</label>
      <select id="user_input_mode">
          <option value="walking">Walking</option>
          <option value="driving">Driving</option>
          <option value="bicycling">Bicycle</option>
          <option value="transit">Public Transit</option>
      </select>
    <br />
      <label for="patience">Max Search Results</label>
      <br />
      <input type="range" id="patience" name="seconds" min="1" max="3">
      <br />
      <label>(20, 40, 60 : each notch adds ~2 seconds)</label>
        
    <dl>
      <dt>Advanced Tuning</dt>
      <br />
        <dd>
            <label>(Relative Importance)</label>
          <br />
            <label>Lower -------- Higher</label>
        <br />
          <input type="range" id="p_size" name="seconds" min="1" max="8" value="4">
          <label for="p_size">Cluster Size</label>
        <br />
          <input type="range" id="p_rating" name="seconds" min="1" max="8" value="2">
          <label for="p_rating">Ratings</label>
        <br />
          <input type="range" id="p_min_dist" name="seconds" min="1" max="8" value="2">
          <label for="p_min_dist">Short Distance to First Stop</label>
        <br />
          <input type="range" id="p_internal_dist" name="seconds" min="1" max="8" value="3">
          <label for="p_internal_dist">Internal Distance within Cluster</label>
        <br />
        </dd>
    </dl>
  <br />
    <button class="button button2" id="click_button">Compute! (~5 sec max)</button>
    <br />
    <h3>Output</h3>
    <!--try replacing yellow with div to remove the yellow styling-->
    <div class="yellow" id="places"></div>
            </div>
        <!-- <div class="columns"> -->
    <div class="columns" id="gmap"></div>
            <!-- </div> -->
    </div>
    </body>
</html>
